<%- include("../includes/head.ejs") %> <%- include("../nav.ejs") %>
<div class="logInForm">
  <h1 class="title">LogIn account here</h1>
  <form action="/login" method="post" class="form">
    <a href="/">Go back home</a>
    <% if(errorMessage) { %>
    <p class="errorMsg"><%= errorMessage %></p>
    <% } %>
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= oldFormData.email  %>"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= oldFormData.password  %>"
        required
      />
    </div>
    <a href="/reset-password">Forget password?</a>
    <div class="btn">
      <button>Log In</button>
    </div>
  </form>
</div>
<%- include("../includes/foot.ejs") %>
