<%- include("../includes/head.ejs") %> <%- include("../nav.ejs") %>
<h1 class="title">Change New Password</h1>
<form action="/change-new-password" method="post" class="form">
  <a href="/">Go back home</a>
  <% if(errorMessage) { %>
  <p class="errorMsg"><%= errorMessage %></p>
  <% } %>
  <input hidden value="<%= csrfToken %>" name="_csrf" />
  <input hidden value="<%= resetToken %>" name="resetToken" />
  <input hidden value="<%= user_id %>" name="userId" />
  <div>
    <label for="password">New Password</label>
    <input
      type="password"
      id="password"
      name="password"
      value="<%= oldFormData.password %>"
    />
  </div>
  <div>
    <label for="confirm_password">Confirm Password</label>
    <input
      type="password"
      id="confirm_password"
      name="confirm_password"
      value="<%= oldFormData.confirm_password %>"
    />
  </div>
  <div class="btn">
    <button>change password</button>
  </div>
</form>
<%- include("../includes/foot.ejs") %>
