<%- include("./includes/head.ejs") %>
<section>
  <h1 class="title">Add a new post here</h1>
  <div class="btn">
    <a href="/"> <i class="fa-solid fa-arrow-left"></i> back</a>
  </div>
  <form
    action="/admin/create"
    method="post"
    class="form"
    enctype="multipart/form-data"
  >
    <% if(errorMessage) { %>
    <p class="errorMsg"><%= errorMessage %></p>
    <% } %>
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= oldFormData.title  %>"
        required
      />
    </div>
    <div>
      <label for="image">Image</label>
      <input type="file" id="title" name="image" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea cols="30" rows="5" id="description" name="description" required>
<%= oldFormData.description%></textarea
      >
    </div>
    <div class="btn">
      <button><i class="fa-solid fa-plus"></i> Add Post</button>
    </div>
  </form>
</section>

<%- include("./includes/foot.ejs") %>
