<%- include("./includes/head.ejs") %> <%- include("./nav.ejs") %>
<section>
  <div class="btn">
    <a href="/">back to home</a>
  </div>
  <div class="detail-box">
    <div class="detail-titleBar">
      <p class="detail-title"><%= post.title %></p>
      <% if (post.userId?.toString() === currentLoginUserId?.toString()){ %>
      <div class="detail-actionBar">
        <a href="/admin/edit-post/<%= post.id %>">edit</a>
        <form action="/admin/delete/<%= post.id %>" method="post">
          <input hidden value="<%= csrfToken %>" name="_csrf" />
          <button>delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <img src="<%= post.image  %>" alt="<%= post.title %>" />
    <p class="post-des"><%= post.description %></p>
  </div>
</section>

<%- include("./includes/foot.ejs") %>
