<%- include("./includes/head.ejs") %>
<section>
  <div class="btn">
    <a href="/">
      <i class="fa-solid fa-arrow-left"></i>
      back
    </a>
  </div>
  <div class="detail-box">
    <p class="detail-title"><%= post.title %></p>
    <div class="detail-flex">
      <div class="detail-author">
        <p><i class="fa-solid fa-user"></i> <%= post.userId.email %></p>
        <p><i class="fa-solid fa-business-time"></i> <%= time %></p>
        <% if(currentLoginUser && post.userId.isPremium){ %>
        <a href="/save/<%= post._id  %>">
          <i class="fa-solid fa-file-arrow-down"></i> save to device</a
        >
        <% } %>
      </div>
      <% if (post.userId._id?.toString() === currentLoginUserId?.toString()){ %>
      <div class="detail-actionBar">
        <a href="/admin/edit-post/<%= post.id %>">
          <i class="fa-regular fa-pen-to-square"></i> edit</a
        >
        <form action="/admin/delete/<%= post.id %>" method="post">
          <input hidden value="<%= csrfToken %>" name="_csrf" />
          <button><i class="fa-solid fa-trash-can"></i> delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <img src="<%= '/' + post.image %>" alt="<%= post.title %>" />
    <p class="post-des"><%= post.description %></p>
  </div>
</section>

<%- include("./includes/foot.ejs") %>
