<%- include("./includes/head.ejs") %> <%- include("./nav.ejs") %>
<h1>Home Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae
  veritatis ad magnam cupiditate odit tenetur corporis! Reprehenderit asperiores
  sapiente officia quo, dolore molestias quisquam nostrum magnam eaque ab.
  Consequatur obcaecati harum repellat pariatur facere ex reprehenderit in
  laboriosam praesentium.
</p>

<div class="btn">
  <% if(isLogin) {%>
  <a href="/admin/create-post">add new post</a>
  <% } %>
</div>

<h1>Posts</h1>
<% if(posts.length === 0 ){ %>
<div>
  <div class="post-title">No posts</div>
  <div>Create new post</div>
</div>
<% } %> <% for(const post of posts ){ %>
<div class="card">
  <div class="post-box">
    <div class="post-title"><%= post.title %></div>
    <a href="/post/<%= post.id  %>">See More...</a>
  </div>
  <p>Posted by <%=post.userId.userName %></p>
</div>
<% } %> <%- include("./includes/foot.ejs") %>
