<%- include("./includes/head.ejs") %>

<h1 class="homeh1">Recent Posts</h1>
<% if(posts.length === 0 && isLogin ){ %>
<div>
  <div class="post-title">No posts</div>
  <div>Create new post</div>
</div>
<% } %>
<div class="cardBox">
  <% for(const post of posts ){ %>
  <div class="card">
    <img src="<%=  '/' + post.image  %>" alt="<%= post.title  %>" />
    <a class="post-title" href="/post/<%= post.id  %>"><%= post.title %></a>
    <p class="post-des"><%=post.description%></p>
    <div class="cardFooter">
      <p class="author">Posted by <%=post.userId %></p>
      <p class="author"><%=post.date %></p>
    </div>
  </div>
  <% } %>
</div>
<div class="pagination">
  <% if( currentPage > 1){ %>
  <a href="/?page=<%= currentPage - 1 %>"
    ><i class="fa-solid fa-angles-left"></i
  ></a>
  <% } %> <% if(currentPage < totalPages){ %>
  <a href="/?page=<%= Number(currentPage) + 1  %>"
    ><i class="fa-solid fa-angles-right"></i
  ></a>
  <% } %>
</div>
<%- include("./includes/foot.ejs") %>
