<%- include("./includes/head.ejs") %>
<section>
  <h1 class="homeh1">Recent Posts</h1>
  <% if(posts.length === 0 && isLogin ){ %>
  <div>
    <div class="post-title">No posts</div>
    <div>Create new post</div>
  </div>
  <% } %>
  <div class="cardBox">
    <% for(const post of posts ){ %>
    <div class="card">
      <img src="<%=  '/' + post.image  %>" alt="<%= post.title  %>" />
      <a class="post-title" href="/post/<%= post.id  %>"><%= post.title %></a>
      <p class="post-des"><%=post.description%></p>
      <div class="cardFooter">
        <div class="cardFooter-profile">
          <% if(post.userId.toString() === currentUserId?.toString()){ %>
          <a href="/profile">
            <div>
              <% if (!post.profileImg){ %>
              <i class="fa-solid fa-circle-user"></i>
              <% }else { %> <img class="profile_img" src="<%= "/" +
              post.profileImg %>" alt="<%= posts[0].title %>" /> <% } %>
            </div>
            <%=post.userName %> <%if(post.premiumUser){ %>
            <i
              class="fa-solid fa-star animate__animated animate__jello animate__infinite animate__fast"
              style="color: green; font-size: large"
            ></i>
            <% } %></a
          >
          <% }else{ %>
          <a href="/profile/<%= post.userId  %>">
            <div>
              <% if (!post.profileImg){ %>
              <i class="fa-solid fa-circle-user"></i>
              <% }else { %> <img class="profile_img" src="<%= "/" +
              post.profileImg %>" alt="<%= posts[0].title %>" /> <% } %>
            </div>
            <%=post.userName %> <%if(post.premiumUser){ %>
            <i
              class="fa-solid fa-star animate__animated animate__jello animate__infinite animate__fast"
              style="color: green; font-size: large"
            ></i>
            <% } %></a
          >
          <% } %>
        </div>
        <div class="">
          <i class="fa-solid fa-calendar-days"></i>
          <p class="author"><%=post.date %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="pagination">
    <% if( currentPage > 1){ %>
    <a href="/?page=<%= currentPage - 1 %>"
      ><i class="fa-solid fa-angles-left"></i
    ></a>
    <% } %> <% if(currentPage < totalPages){ %>
    <a href="/?page=<%= Number(currentPage) + 1  %>"
      ><i class="fa-solid fa-angles-right"></i
    ></a>
    <% } %>
  </div>
</section>
<%- include("./includes/foot.ejs") %>
