<%- include("../includes/head.ejs") %>
<section>
  <% if(errorMessage) { %>
  <p class="errorMsg"><%= errorMessage %></p>
  <% } %>
  <div class="profile-head">
    <div>
      <div class="profile-user">
        <% if (!posts[0].profileImg){ %>
        <i class="fa-solid fa-circle-user"></i>
        <% }else { %> <img src="<%= "/" + posts[0].profileImg %>" alt="<%=
        posts[0].title %>" /> <% } %>
        <p><%= posts[0].userName %></p>
        <% if(posts[0].premiumUser){ %>
        <i
          class="fa-solid fa-star animate__animated animate__jello animate__infinite animate__fast"
          style="color: green; font-size: larger"
        ></i>
        <% } %>
      </div>
      <p><%= email %></p>
    </div>
    <div class="profile-action">
      <% if(posts[0].premiumUser){ %>
      <a href="/username">Edit username</a>
      <a href="/profile-image">Upload profile image</a>
      <a href="/premium-details">IO premium status</a>
      <% } else{%>
      <a href="/premium">Purchase premium package</a>
      <% } %>
    </div>
  </div>
  <div class="cardBox">
    <% for(const post of posts ){ %>
    <div class="card">
      <img src="<%=  '/' + post.image  %>" alt="<%= post.title  %>" />
      <a class="post-title" href="/post/<%= post.id  %>"><%= post.title %></a>
      <p class="post-des"><%=post.description%></p>
    </div>
    <% } %>
  </div>
  <div class="pagination">
    <% if( currentPage > 1){ %>
    <a href="/profile/?page=<%= currentPage - 1 %>"
      ><i class="fa-solid fa-angles-left"></i
    ></a>
    <% } %> <% if(currentPage < totalPages){ %>
    <a href="/profile/?page=<%= Number(currentPage) + 1  %>"
      ><i class="fa-solid fa-angles-right"></i
    ></a>
    <% } %>
  </div>
</section>
<%- include("../includes/foot.ejs") %>
