<%- include("../includes/head.ejs") %>
<section>
  <% if(errorMessage) { %>
  <p class="errorMsg"><%= errorMessage %></p>
  <% } %>
  <p class="public-head">Posts created By</p>
  <span><i class="fa-solid fa-circle-user"></i> <%= userName %></span>
  <div class="cardBox">
    <% for(const post of posts ){ %>
    <div class="card">
      <img src="<%=  '/' + post.image  %>" alt="<%= post.title  %>" />
      <a class="post-title" href="/post/<%= post.id  %>"><%= post.title %></a>
      <p class="post-des"><%=post.description%></p>
      <div class="cardFooter">
        <p class="author">Posted by <%=post.userName %></p>
        <p class="author"><%=post.date %></p>
      </div>
    </div>
    <% } %>
  </div>
  <div class="pagination">
    <% if( currentPage > 1){ %>
    <a href="/profile/<%=userId  %>/?page=<%= currentPage - 1 %>"
      ><i class="fa-solid fa-angles-left"></i
    ></a>
    <% } %> <% if(currentPage < totalPages){ %>
    <a href="/profile/<%=userId  %>/?page=<%= Number(currentPage) + 1  %>"
      ><i class="fa-solid fa-angles-right"></i
    ></a>
    <% } %>
  </div>
</section>
<%- include("../includes/foot.ejs") %>
